.main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
  color: black;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  font-weight: bold;
}

p {
  width: 75%;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;

}

div .radioButtonsContainer {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    margin-bottom: 20px;
  }

div .radioButtons {
  
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    margin-bottom: 10px;
    width: 100px;
    height: 20%;
    
  }
  
label {
  
    display: inline-block;
    font-size: 18px;
    color:  #87B9E1;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  
  }


div .chatBox {
    background-color: #F5F5F5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: black;
    width: 75%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    overflow-y: auto;
    border: 1px dashed ;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    
}

.form {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

input[type="text"] {
  padding: 12px 16px;
  border: 1px solid silver;
  border-radius: 4px;
  outline-color: silver;
  display: inline-block;
  width: 500px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: black;
}

button {
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: silver;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    border: 1px solid silver;
    border-style: outset;
  }
  
  button:hover {
    -webkit-filter: drop-shadow(2px 2px 2px #666666);
  filter: drop-shadow(2px 2px 2px #666666);
  background-color: #313131;
  color: #87B9E1;
  
  }
  button:active {
  border-style: inset;
  }


